body {
  
    font-family: 'Gentium Basic', serif;
    /* font-family: 'Gentium Basic', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Charm', cursive; */
  }
.george {
    display: flex;
    


}
.row-3{
    display: flex
}    




header {
    background-color: #FCD721;
    width: 285px;
    height: 80px;
    border-radius: 50%;
    transform:rotate(-8deg);
    white-space: nowrap;
    box-shadow: 2px 2px#151413
  
}
.sein {
    margin-left:5%;
    transform:rotate(8deg) scaleY(1.5);
    color: #E30622;
    text-shadow: 1px 1px #151413;
    font-style: italic;
    font-size: 60px;
    /* font-weight: bold; */
    /* letter-spacing: 5px; */
    
   
    
}
.inst {
    background-color: darkgreen;
}
.ran {
    background-color: lightcoral;
    padding: 30px;
}
.winloss {
    background-color: lightcyan;
}
.row-3 {
    /* background-color: lightcyan; */
}
.george {
    /* background-color: darkcyan; */
}
.score{
    background-color: darkgoldenrod;
}
.counter {
    background-color: darkmagenta;
}
button {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin-top: 10px;
 
   
  }